#loader
    .loader.w3-center.w3-display-container
#user-card
    h6
      a.edit-link(href='')
        i.fa.fa-pencil-square-o
        span &nbsp;Edit
    h2
      span.name

    h3 score:
    h4.score 123

    table.w3-table.w3-bordered(style='display: inline-block')
        thead
            tr
                th Track
                th Points
                th Length
        tbody
