doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='stylesheet', href='/stylesheets/w3-theme-amber.css')
    link(rel='stylesheet', href='/stylesheets/user_card.css')
    link(rel='stylesheet', href='/stylesheets/loader.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    nav#sidebar.w3-sidebar.w3-bar-block.w3-card
      a.w3-bar-item.w3-button.w3-large.w3-hover-amber(href='/')
        i.fa.fa-home
        .
          Home
      a.w3-bar-item.w3-button.w3-large.w3-hover-amber(href='https://github.com/umatbro/comp-results-moto/' target='_blank')
        i.fa.fa-github
        .
          GitHub
      hr
      block navbar

    #content.w3-col.m8
      block content

      script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
      block scripts
